services:
  _defaults:
    autowire: false
    autoconfigure: true
    public: false

  Tagwalk\ApiClientBundle\Security\UserProvider:
    arguments:
      - '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      - '@serializer'

  Tagwalk\ApiClientBundle\Security\ApiAuthenticator:
    arguments:
      - '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      - '@serializer'
      - '@session'

  Tagwalk\ApiClientBundle\Form\ExportModelsType:
    arguments:
      $router: '@router'
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $requestStack: '@request_stack'
      $tokenStorage: '@security.token_storage'

  Tagwalk\ApiClientBundle\Form\ExportTagsType:
    arguments:
      $router: '@router'
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $requestStack: '@request_stack'
      $tokenStorage: '@security.token_storage'

  Tagwalk\ApiClientBundle\Form\ExportDesignersType:
    arguments:
      $router: '@router'
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $requestStack: '@request_stack'
      $tokenStorage: '@security.token_storage'

  Tagwalk\ApiClientBundle\Form\ExportMoodboardsType:
    arguments:
      $router: '@router'
      $tokenStorage: '@security.token_storage'

  Tagwalk\ApiClientBundle\Form\ModelsWhoWalkedTheMostType:
    arguments:
      $router: '@router'
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $requestStack: '@request_stack'
      $tokenStorage: '@security.token_storage'

  Tagwalk\ApiClientBundle\Provider\ApiProvider:
    arguments:
      $requestStack: '@request_stack'
      $session: '@session'
      $baseUri:  ''
      $clientId: ''
      $clientSecret: ''
      $timeout: 10.0

  Tagwalk\ApiClientBundle\Controller\AutocompleteController:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $designerManager: '@Tagwalk\ApiClientBundle\Manager\DesignerManager'
      $individualManager: '@Tagwalk\ApiClientBundle\Manager\IndividualManager'
      $tagManager: '@Tagwalk\ApiClientBundle\Manager\TagManager'

  Tagwalk\ApiClientBundle\Controller\AnalyticsController:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $logger: '@logger'

  Tagwalk\ApiClientBundle\Manager\ModelManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $serializer: '@serializer'

  Tagwalk\ApiClientBundle\Manager\CoverManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'

  Tagwalk\ApiClientBundle\Manager\TrendManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'

  Tagwalk\ApiClientBundle\Manager\PageManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $serializer: '@serializer'

  Tagwalk\ApiClientBundle\Manager\ConfigManager:
      arguments:
        $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
        $serializer: '@serializer'

  Tagwalk\ApiClientBundle\Manager\CityManager:
    arguments:
      - '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      - '@serializer'

  Tagwalk\ApiClientBundle\Manager\TagManager:
    arguments:
      - '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      - '@serializer'

  Tagwalk\ApiClientBundle\Manager\DesignerManager:
    arguments:
      - '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      - '@serializer'

  Tagwalk\ApiClientBundle\Manager\SeasonManager:
    arguments:
      - '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      - '@serializer'

  Tagwalk\ApiClientBundle\Manager\IndividualManager:
    arguments:
      - '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      - '@serializer'

  Tagwalk\ApiClientBundle\Manager\LiveManager:
    arguments:
      - '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      - '@serializer'

  Tagwalk\ApiClientBundle\Manager\UserManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $serializer: '@serializer'
    calls:
      - method: setLogger
        arguments:
          - '@logger'

  Tagwalk\ApiClientBundle\Manager\MoodboardManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $moodboardNormalizer: '@Tagwalk\ApiClientBundle\Serializer\Normalizer\MoodboardNormalizer'
    calls:
      - method: setLogger
        arguments:
          - '@logger'

  Tagwalk\ApiClientBundle\Manager\MediaManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $mediaNormalizer: '@Tagwalk\ApiClientBundle\Serializer\Normalizer\MediaNormalizer'
    calls:
      - method: setLogger
        arguments:
          - '@logger'

  Tagwalk\ApiClientBundle\Manager\StreetstyleManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $streetstyleNormalizer: '@Tagwalk\ApiClientBundle\Serializer\Normalizer\StreetstyleNormalizer'
    calls:
      - method: setLogger
        arguments:
          - '@logger'

  Tagwalk\ApiClientBundle\Manager\HomepageManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $homepageNormalizer: '@Tagwalk\ApiClientBundle\Serializer\Normalizer\HomepageNormalizer'

  Tagwalk\ApiClientBundle\Manager\GalleryManager:
    arguments:
      $apiProvider: '@Tagwalk\ApiClientBundle\Provider\ApiProvider'
      $galleryNormalizer: '@Tagwalk\ApiClientBundle\Serializer\Normalizer\GalleryNormalizer'

  Tagwalk\ApiClientBundle\Event\LocaleSubscriber:
    arguments:
      - '%kernel.default_locale%'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\FileNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\IndividualNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\FileNormalizer'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\HomepageCellNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\FileNormalizer'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\HomepageNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\HomepageCellNormalizer'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\LiveNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\DesignerNormalizer'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\CityNormalizer'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\SeasonNormalizer'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\DesignerNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\FileNormalizer'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\UserNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\ExportNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_spinal_case'
      - '@serializer.property_accessor'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\PageNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\TagNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\CityNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\SeasonNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\MoodboardNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\UserNormalizer'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\MediaNormalizer'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\StreetstyleNormalizer'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\AffiliationNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\MediaNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\AffiliationNormalizer'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\FileNormalizer'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\StreetstyleNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\AffiliationNormalizer'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\FileNormalizer'

  Tagwalk\ApiClientBundle\Serializer\Normalizer\GalleryNormalizer:
    tags: ['serializer.normalizer']
    arguments:
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@serializer.property_accessor'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\FileNormalizer'
      - '@Tagwalk\ApiClientBundle\Serializer\Normalizer\StreetstyleNormalizer'

  serializer.name_converter.camel_case_to_spinal_case:
    class: 'Tagwalk\ApiClientBundle\Serializer\NameConverter\CamelCaseToSpinalCaseNameConverter'
