name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-v2-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Run static analysis
      run: composer run-script phpstan

#    - name: Run test suite
#      run: composer run-script phpunit

    - name: Run test suite (with coverage)
      run: ./vendor/bin/phpunit --coverage-clover=coverage.xml --coverage-text

#    - name: Upload coverage to Codecov
#      uses: codecov/codecov-action@v1
#      with:
#        file: ./coverage.xml
#        name: codecov-umbrella
#        fail_ci_if_error: true


    # - name: Run test suite
    #   run: composer run-script test
